#lasers {
	display: flex;
}

.laser {
	flex: 1;
	margin-right: 4px;
	background: #1b1c1d;
	opacity: 0.8;
}
.laser:hover {
	opacity: 1;
}
#lasers .laser:last-child {
	margin-right: 0;
}
.laser div {
	position: relative;
	padding-bottom: 100%;
}
.laser canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}